body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: black;
    color: white;
}

button {
    height: 50px;
    width: 300px;
}

.s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.s1 button {
	color: white;
	background-color: black;
}

.s1-selected button {
	color: black;
	background-color: blueviolet;
}