body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	background-color: black;
	color: white;
}

button {
	height: 50px;
	width: 300px;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.subscribeBox {
	display: flex;
	flex-direction: column;
	background-color: darkblue;
	width: 100px;
	align-items: center;
	justify-content: center;
}

.subscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: red;
	background-color: black;
	border: 5px;
	border-color: red;
	width: 30px;
}

.subscribeActive {
	color: darkorange;
	background-color: darkorchid;
}
